
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  padding: 2px;
}


.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*Shared items*/
.display-flex{
    display: flex;
}
.bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-d1{
    color: #131313;
}
.text-d2{
    color: #424242;
}
.text-d3{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.section-title{
    font-weight: 700;
    color: #131313;
    font-size: 3rem;
    margin-bottom: 0;
}


/*front page*/
.nav-bar{
justify-content: space-between;
align-items: center;
}
.nav-list{
    margin-right: 50px;
    list-style: none;
}
.nav-item{
    text-decoration: none;
    
}
.Brand{
    font-size: 3rem;
    font-weight: 700;
}
.nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0px;

}
.banner-des{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 400;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-image{
    width: 100%;
}

/*second page*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.items{
   align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
#quick-fix{
    color: #727272;
    font-weight: 500;
}
.color-text{
    color: #FF900E;
}
.our-features{
    margin-left: 130px;
    
}

/*features experience*/
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-title{
    font-size: 4rem;
    font-weight: 400;
}
.features{
    align-items: center;
    gap: 140px;
}
.card-title{
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-card{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.card-des{
    font-size: 1rem;
}
.feature-img img{
      width: 100%;
}
/*some facts*/
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card-container{
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: #FF900E 1px solid;
    border-radius: 8px;
}
.fact-card{
  padding-top: 45px;
  padding-bottom: 60px;
    
}
.fact-num{
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}
.fact-name{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0px;
}
/*sponsors section*/
.sponsors-des{
    width: 90%;
    margin: 50px auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
}

@media screen and (max-width: 576px) {
    .nav-links,
     .nav-bar,
     .items,
     .features{
        flex-direction: column;
    }
    .team-img-container,
    .sponsors-companies{
        grid-template-columns: repeat(1, 1fr);
    }

    .sponsors-companies{
        gap:30px;
    }
    .sponsors-companies img{
        margin: auto;
    }
    .our-features{
        margin: auto;
    }
    .banner-content{
        margin: 0px;
        > .btn-primary{
            margin-bottom: 50px;
        }
    }
    .section-title{
        padding-left: 5px;
    }
    .banner-des{
        padding-left: 5px;
    }
    .fact-container{
         grid-template-columns: repeat(1, 1fr);
         gap: 20px;
    }
    .card-container{
        margin:auto;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}
/*for medium device*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    .items{
        flex-direction: column;
    }
    .our-features,
    .fact-des{
        margin-left: 45px;
    }
    .fact-container{
         grid-template-columns: repeat(2, 1fr);
         gap: 20px;
    }
    .sponsors-companies{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
 .card-container{
        margin:auto;
    }
}