
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  padding: 2px;
}


.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*Shared items*/
.display-flex{
    display: flex;
}
.bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-d1{
    color: #131313;
}
.text-d2{
    color: #424242;
}
.text-d3{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.section-title{
    font-weight: 700;
    color: #131313;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}


/*front page*/
.nav-bar{
justify-content: space-between;
align-items: center;
}
.nav-list{
    margin-right: 50px;
    list-style: none;
}
.nav-item{
    text-decoration: none;
    
}
.Brand{
    font-size: 3rem;
    font-weight: 700;
}
.nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0px;

}
.banner-des{
    margin-top: 24px;
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 400;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-image{
    width: 100%;
}

/*second page*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.items{
   align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
#quick-fix{
    color: #727272;
    font-weight: 500;
}
.color-text{
    color: #FF900E;
}
.our-features{
    margin-left: 130px;
    
}

@media screen and (max-width: 576px) {
    .nav-links,
     .nav-bar,
     .items{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .banner-content{
        margin-left: 5px;
        margin-right: 5px;

    }
    
}
/*for medium device*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    .items{
        flex-direction: column;
    }
    .our-features{
        margin-left: 45px;
    }
}